

@media (max-width: 767px) {
    .mainboard_container {
      max-width: 300px;
      column-count: 3; 
    }
  }
  

  @media (min-width: 768px) and (max-width: 991px) {
    .mainboard_container {
      max-width: 600px;
      column-count: 4;
    }
  }
  
 
  @media (min-width: 992px) and (max-width: 1199px) {
    .mainboard_container {
      max-width: 800px;
      column-count: 5;
    }
  }
  
 
  @media (min-width: 1200px) {
    .mainboard_container {
      max-width: 1000px;
      column-count: 9;
    }
  }